body {
	width: 1366px;
	margin: 0px;
	background-color: black;
	color: white;
}

.container {
	width: 1366px;
	text-align: left;
	margin-bottom: 0px;

}

h2{
	margin-bottom: 0px;
}

.container2 {
	width: 100px;
	text-align: center;
	margin-top: 100px;
	margin-left: 100px;
	float: left;
}

#socials {
	border-style: solid;
	border-width: 4px;
}

.container3 {
	margin-left: 800px;
	margin-top: 1px;
}

img {height: 400px;}

.footer {
	text-align: center;
}

#footer-text {
	margin-top: 40px;
	margin-bottom: 0px;
}

/*/////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/
@media (max-width : 414px) and (orientation: portrait) {
	body {
	width: 414px;
	margin: 0px;
	background-color: black;
	color: white;
}

.cont {
	float: left;
}

.container {
	width: 414px;
	text-align: left;
	margin-bottom: 0px;
	float: left;

}

h2{
	margin-bottom: 0px;
}

.container2 {
	width: 414px;
	text-align: center;
	margin-left: 0px;
	margin-top: 100px;
	float: left;
}

#socials {
	border-style: solid;
	border-width: 4px;
	width: 414px;
	margin-left: 0px;
	color: blue;
}

.container3 {
	margin-top: 1px;
	width: 414px;
	margin-left: 0px;
}

img {height: 400px;
width: 414px;}

.footer {
	text-align: center;
}

#footer-text {
	margin-top: 90px;
	margin-bottom: 0px;
}

a:visited {
	border-style: solid;
	border-color: blue;
	width: 414px;
	border-width: 4px;
	margin-left: 0px;
	color: blue;
}

a:active {
	border-style: solid;
	border-color: blue;
	width: 414px;
	border-width: 4px;
	margin-left: 0px;
	color: blue;
}
}

/*/////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/
@media (max-width : 745px) and (orientation: landscape){
	body {
	width: 745px;
	margin: 0px;
	background-color: black;
	color: white;
}

.cont {
	float: left;
}

.container {
	width: 745px;
	text-align: left;
	margin-bottom: 0px;
	float: left;

}

h2{
	margin-bottom: 0px;
}

.container2 {
	width: 745px;
	text-align: center;
	margin-left: 0px;
	margin-top: 100px;
	float: left;
}

#socials {
	border-style: solid;
	border-width: 4px;
	width: 745px;
	margin-left: 0px;
	color: blue;
}

.container3 {
	margin-top: 1px;
	width: 745px;
	margin-left: 0px;
}

img {height: 400px;
width: 745px;}

.footer {
	text-align: center;
}

#footer-text {
	margin-top: 90px;
	margin-bottom: 0px;
	text-align: center;
}

a:visited {
	border-style: solid;
	border-color: blue;
	width: 745px;
	border-width: 4px;
	margin-left: 0px;
	color: blue;
}

a:active {
	border-style: solid;
	border-color: blue;
	width: 745px;
	border-width: 4px;
	margin-left: 0px;
	color: blue;
}
}

/*/////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/


@media (max-width : 768px) and (orientation: portrait) {
	body {
	width: 768px;
	margin: 0px;
	background-color: black;
	color: white;
}

.cont {
	float: left;
}

.container {
	width: 768px;
	text-align: left;
	margin-bottom: 0px;
	float: left;

}

h2{
	margin-bottom: 0px;
}

.container2 {
	width: 768px;
	text-align: center;
	margin-left: 0px;
	margin-top: 100px;
	float: left;
}

#socials {
	border-style: solid;
	border-width: 4px;
	width: 768px;
	margin-left: 0px;
	color: blue;
}

.container3 {
	margin-top: 1px;
	width: 768px;
	margin-left: 0px;
}

img {height: 400px;
width: 768px;}

.footer {
	text-align: center;
}

#footer-text {
	margin-top: 90px;
	margin-bottom: 0px;
	text-align: center;
}

a:visited {
	border-style: solid;
	border-color: blue;
	width: 768px;
	border-width: 4px;
	margin-left: 0px;
	color: blue;
}

a:active {
	border-style: solid;
	border-color: blue;
	width: 768px;
	border-width: 4px;
	margin-left: 0px;
	color: blue;
}
}

/*/////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/

@media (max-width : 1024px) and (orientation: landscape){
	body {
	width: 1024px;
	margin: 0px;
	background-color: black;
	color: white;
}

.cont {
	float: left;
}

.container {
	width: 1024px;
	text-align: left;
	margin-bottom: 0px;
	float: left;

}

h2{
	margin-bottom: 0px;
}

.container2 {
	width: 1024px;
	text-align: center;
	margin-left: 0px;
	margin-top: 100px;
	float: left;
}

#socials {
	border-style: solid;
	border-width: 4px;
	width: 1024px;
	margin-left: 0px;
	color: blue;
}

.container3 {
	margin-top: 1px;
	width: 1024px;
	margin-left: 0px;
}

img {height: 400px;
width: 1024px;}

.footer {
	text-align: center;
}

#footer-text {
	margin-top: 90px;
	margin-bottom: 0px;
	text-align: center;
}

a:visited {
	border-style: solid;
	border-color: blue;
	width: 1024px;
	border-width: 4px;
	margin-left: 0px;
	color: blue;
}

a:active {
	border-style: solid;
	border-color: blue;
	width: 1024px;
	border-width: 4px;
	margin-left: 0px;
	color: blue;
}
}

/*/////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/
@media (max-width : 1280px) and (orientation: portrait) {
	body {
	width: 1280px;
	margin: 0px;
	background-color: black;
	color: white;
}

.cont {
	float: left;
}

.container {
	width: 1280px;
	text-align: left;
	margin-bottom: 0px;
	float: left;

}

h2{
	margin-bottom: 0px;
}

.container2 {
	width: 1280px;
	text-align: center;
	margin-left: 0px;
	margin-top: 100px;
	float: left;
}

#socials {
	border-style: solid;
	border-width: 4px;
	width: 1280px;
	margin-left: 0px;
	color: blue;
}

.container3 {
	margin-top: 1px;
	width: 1280px;
	margin-left: 0px;
}

img {height: 400px;
width: 1280px;}

.footer {
	text-align: center;
}

#footer-text {
	margin-top: 90px;
	margin-bottom: 0px;
	text-align: center;
}

a:visited {
	border-style: solid;
	border-color: blue;
	width: 1280px;
	border-width: 4px;
	margin-left: 0px;
	color: blue;
}

a:active {
	border-style: solid;
	border-color: blue;
	width: 1280px;
	border-width: 4px;
	margin-left: 0px;
	color: blue;
}
}

/*/////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/
@media (max-width : 800px) and (orientation: landscape){
	body {
	width: 800px;
	margin: 0px;
	background-color: black;
	color: white;
}

.cont {
	float: left;
}

.container {
	width: 800px;
	text-align: left;
	margin-bottom: 0px;
	float: left;

}

h2{
	margin-bottom: 0px;
}

.container2 {
	width: 800px;
	text-align: center;
	margin-left: 0px;
	margin-top: 100px;
	float: left;
}

#socials {
	border-style: solid;
	border-width: 4px;
	width: 800px;
	margin-left: 0px;
	color: blue;
}

.container3 {
	margin-top: 1px;
	width: 800px;
	margin-left: 0px;
}

img {height: 400px;
width: 800px;}

.footer {
	text-align: center;
}

#footer-text {
	margin-top: 90px;
	margin-bottom: 0px;
	text-align: center;
}

a:visited {
	border-style: solid;
	border-color: blue;
	width: 800px;
	border-width: 4px;
	margin-left: 0px;
	color: blue;
}

a:active {
	border-style: solid;
	border-color: blue;
	width: 800px;
	border-width: 4px;
	margin-left: 0px;
	color: blue;
}
}